.csmn {
  --accent-light: #ff0065;
  --accent-dark: #ff0065;
  --link-color: #ff0065;
}

.md {
  --accent-light: #ff0097;
  --accent-dark: #ff0097;
  --link-color: #ff0097;
}

.logica {
  --accent-light: #80e1ff;
  --accent-dark: #80e1ff;
}

.pr2 {
  --accent-light: #fdff85;
  --accent-dark: #fdff85;
}

.alf {
  --accent-light: #1a53ff;
  --accent-dark: #1a53ff;
}

.fdi {
  --accent-light: #A8A8FF;
  --accent-dark: #0400ff;
  --link-color: #A8A8FF;
}

.theme-dark {
    --termine: #7085FF;
}

.theme-light {
    --termine: #00158F;
}

.theme-dark, .accented {
  color: var(--accent-dark);
}
.theme-light, .accented {
  color: var(--accent-light);
}

.app-container .markdown-preview-view pre.language-note-red code.language-note-red, .theme-dark,
.math {
  color: var(--accent-dark);
}
.app-container .markdown-preview-view pre.language-note-red code.language-note-red, .theme-light,
.math {
  color: var(--accent-light);
}

.app-container .markdown-preview-view pre.language-note-red code.language-note-red,
.termine {
  color: var(--termine);
}