## Informazioni ufficiali

**Descrizione**: L'attività del tirocinio riguarda lo studio e la sperimentazione di tecniche avanzate di analisi e verifica per smart contracts su blockchain. Gli smart contracts sono programmi che vengono eseguiti in modo sicuro e trasparente da una blockchain, e in grado di gestire e distribuire crypto-asset agli utenti seguendo logiche personalizzate e complesse. La verifica degli smart contracts è un problema di notevole rilevanza pratica, in quanto anche un singolo bug può causare perdite multimilionarie di crypto-asset. L’obiettivo del tirocinio è fornire allo studente una solida introduzione alle nozioni fondamentali degli smart contract, delle blockchain e delle criptovalute, consentendogli di sviluppare competenze pratiche nella progettazione e verifica di sicurezza degli smart contracts e di comprendere i rischi che caratterizzano questo settore in rapida evoluzione.

Nello specifico, il tirocinante dovrà:

- approfondire lo studio di un linguaggio di programmazione per smart contracts;
- studiare uno strumento per l’analisi o la verifica di smart contracts;
- sperimentare lo strumento scelto su un insieme di use cases (vedi ad esempio https://github.com/bitbart/contracts-verification-benchmark);

I dettagli saranno concordati con il responsabile del progetto.

**Sede**: Dipartimento di Matematica e Informatica (Cagliari)

**Responsabile**: Massimo Bartoletti

## Indice

![[Solidity]]

#materia